body, html {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    font-size: 30px;
    margin: 0;
    background-color: #7c2c24;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: calc(100% - 100px);
    background-color: #ac7e6c;
}

.buttons {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
}

.main-content {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%; /* Itt változtattam */
    overflow-y: auto;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    color: #ffffff;
    margin: auto auto auto 15px;
}

.buttons button {
    display: block;
    width: 100%;
    padding: 20px;
    margin: 0%;
    margin-top: 20px;
    font-size: 16px;
    border: none;
    color: #fff;
    background-color: #7c2c24;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.buttons button:hover,
.buttons button.active {
    background-color: #884640;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: #8c443b;
    color: white;
    position: sticky;
    top: 0;
}




tr:nth-child(even) {
    background-color: #a46c5c;
    font-size: 20px;
}

tr:nth-child(odd) {
    background-color: #a47364;
    font-size: 20px;
}

a {
    display: block;
    width: 200px;
    height: 50px;
    margin: 50px 0 22px 0;
    background-color: #7c2c24;
    color: #fff;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

a:hover {
    background-color: #884640;
}
